.loseModalContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: rgb(255, 255, 255);
    padding: 1rem 1.5rem;
    width: 16rem;
    height: 9rem;
    border-radius: 5px; 
    z-index: 100;
}

.overlayLoseModal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  .overlayLoseModal {
      background: rgba(49, 49, 49, 0.879);
      z-index: 50;
      backdrop-filter: blur(4px);
  
    }
  



.loseModalContent  button{
    position: relative;
    top: 0.2rem;
    cursor: pointer;
    width: 8rem;
    height: 2rem;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    background-color: #5B35D5;
    cursor: pointer;
    border: none;
}