.HelpPopUpContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: rgb(255, 255, 255);
    padding: 1rem 1.5rem;
    width: 20rem;
    height: 19rem;
    border-radius: 5px;
    z-index: 10;
}

.HelpPopUpTitle {
    display: flex;
    justify-content: center;
    width: 100%;
}

.closeButton { 
    position: relative;
    top: 0.5rem;
    cursor: pointer;
    width: 8rem;
    height: 2.7rem;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    background-color: #5B35D5;
    cursor: pointer;
    border: none;
}