@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Lato', sans-serif;
  /* background: rgb(78,34,165); */
background: linear-gradient(180deg, rgba(78,34,165,1) 0%, rgba(78,33,118,1) 62%);
overflow-x: hidden;
}


